@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(99.5% 0 0);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(65% 0.18 55);
  --main-muted: oklch(85% 0.12 55);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: oklch(65% 0.18 55);
  --chart-2: #FF4D50;
  --chart-3: #FACC00;
  --chart-4: #05E17A;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(18% 0.02 55);
  --secondary-background: oklch(22% 0.02 55);
  --foreground: oklch(96% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(70% 0.18 55);
  --main-muted: oklch(45% 0.12 55);
  --border: oklch(96% 0 0);
  --ring: oklch(96% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: oklch(70% 0.18 55);
  --chart-2: #FF6669;
  --chart-3: #E0B700;
  --chart-4: #04C86D;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-main-muted: var(--main-muted);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  body {
    font-family: var(--font-source-sans), ui-sans-serif, system-ui, sans-serif;
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-syne), ui-sans-serif, system-ui, sans-serif;
    @apply font-heading;
  }
}